<!--comment.html-->

<div class="bg-img">
<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
    <div class="container book_list">
<!--Loop over the payload variable, which is the list of articles-->
{{range .comments }}
<!--Create the link for the article based on its ID-->
<h3>{{.Message}}</h3>
<!--Display the content of the article-->
{{end}}

<form method="dialog">
    <div class="form-group">
        <label>Enter Message:</label>
        <input class="form-control"
               type="text"
               name="message"
               id="message"
               placeholder="Input Message Here">
    </div>
    <script>
        function sendData() {
            var message = document.getElementById('message').value;
            var currentUrl = window.location.href;
            var url = new URL(currentUrl);
            var id = parseInt(url.pathname.split('/').pop());
            var data = { id: id, message: message};
            console.log(data)
            fetch('http://localhost:8080/api/comments', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
                    location.replace("http://localhost:8080/api/comments/" + id)
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                })
        }
    </script>
    <div class="form-group">
        <button class="btn btn-success btn-lg float-right" onclick="sendData()">
            Submit
        </button>
    </div>
</form>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
    </div>
</div>