<!--comment.html-->

<div class="bg-img">
    <div class="main-flex-container">
        {{ template "header.html" .}}
        <div class="my_main">
            <div class="container book-list">
                <form method="dialog">
                    <div class="form-group">
                        <label style="color: #222222">Enter Message:</label>
                        <textarea
                                class="form-control"
                                name="message"
                                id="message"
                                minlength="1"
                                required
                                rows="4"
                                cols="50"></textarea>
                    </div>
                    <div class="form-group" style="color: #a7a7a7">
                        d
                        <button class="btn btn-dark btn-lg float-right" onclick="addComment()">Submit</button>
                    </div>
                </form>
            </div>

            <!--Loop over the payload variable, which is the list of articles-->
            {{$userEmail := .userEmail}}
            {{range .payload }}
            <div class="container book-list">
                <!--Create the link for the article based on its ID-->
                <div class="flex-container">
                    <div>
                        <p style="color: #222222"><img src="/img/user.png">{{.Name}}</p>
                        <div id="read_message_{{.ID}}" style="display: block"> {{ .Message}}</div>
                        <form method="dialog" id="edit_message_{{.ID}}" style="display: none">
                            <div class="flex-container">
                                <div class="form-group">
                                    <label style="color: #222222">Enter Message:</label>
                                    <textarea
                                            class="form-control"
                                            name="message"
                                            id="message_{{.ID}}"
                                            minlength="1"
                                            required
                                            rows="4"
                                            cols="200"></textarea>
                                </div>
                                {{ if eq .Email $userEmail }}
                                <div class="form-group">
                                    <button style="background: none; border: none" type="submit"><img src="img/delete.svg" id="delete_1_{{.ID}}" style="width: 20px; height: 20px;" onclick="deleteComment({{.ID}})" alt=""></button>
                                    <div style="max-width: 20px; margin-top: 15px">
                                        <button style="background: none; border: none" type="submit"><img src="img/accept.svg" id="accept_{{.ID}}" style="width: 20px; height: 20px; display: none; margin-bottom: 5px"  onclick="updateComment({{.ID}})" alt=""></button>
                                        <button style="background: none; border: none" type="submit"><img src="img/stop.svg" id="stop_{{.ID}}" style="width: 20px; height: 20px;  display: none" onclick="stop({{.ID}})" alt=""></button>
                                    </div>
                                </div>
                                {{end}}
                            </div>
                        </form>
                    </div>
                    {{ if eq .Email $userEmail }}
                    <div id="edit_div_{{.ID}}" style="display: block">
                        <button style="background: none; border: none" type="submit"><img src="img/delete.svg" id="delete_2_{{.ID}}" style="width: 20px; height: 20px;" onclick="deleteComment({{.ID}})" alt=""></button>
                        <div style="flex-grow: 1;  max-width: 20px; margin-top: 15px">
                            <button style="background: none; border: none" type="submit"><img src="img/edit.svg" id="edit_{{.ID}}" style="display: block;" onclick="edit({{.ID}})" alt=""></button>
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
            {{end}}
        </div>
    </div>
    {{ template "footer.html" .}}
</div>

<script>
    function edit(id){
        document.getElementById("edit_div_".concat(id)).style.display = "none";
        document.getElementById("accept_".concat(id)).style.display = "block";
        document.getElementById("stop_".concat(id)).style.display = "block";
        document.getElementById("edit_message_".concat(id)).style.display = "block";
        document.getElementById("read_message_".concat(id)).style.display = "none";
    }

    function stop(id){
        document.getElementById("edit_div_".concat(id)).style.display = "block";
        document.getElementById("accept_".concat(id)).style.display = "none";
        document.getElementById("stop_".concat(id)).style.display = "none";
        document.getElementById("edit_message_".concat(id)).style.display = "none";
        document.getElementById("read_message_".concat(id)).style.display = "block";
    }

    function updateComment(id){
        const currentUrl = window.location.href;
        const url = new URL(currentUrl);
        const bookId = parseInt(url.pathname.split('/').pop());
        const message = document.getElementById('message_'.concat(id)).value;
        if(message.length > 0) {
            const data = {message: message};
            fetch('http://localhost:8080/api/comments/' + id, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(data => {
                    if (data.status === 200) {
                        location.replace("http://localhost:8080/api/books/comments/" + bookId)
                        console.log('Success:', data);
                    } else if (data.status === 401) {
                        location.replace("http://localhost:8080/auth/view/login")
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                })
        }
    }

    function addComment() {
        const message = document.getElementById('message').value;
        const currentUrl = window.location.href;
        const url = new URL(currentUrl);
        const id = parseInt(url.pathname.split('/').pop());
        if(message.length > 0) {
            const data = {id: id, message: message};
            fetch('http://localhost:8080/api/comments', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(data => {
                    if (data.status === 200) {
                        location.replace("http://localhost:8080/api/books/comments/" + id)
                        console.log('Success:', data);
                    } else if (data.status === 401) {
                        location.replace("http://localhost:8080/auth/view/login")
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                })
        }
    }

    function deleteComment(id) {
        const currentUrl = window.location.href;
        const url = new URL(currentUrl);
        const bookId = parseInt(url.pathname.split('/').pop());
        fetch('http://localhost:8080/api/comments/'+ id, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(data => {
                if(data.status === 200){
                    location.replace("http://localhost:8080/api/books/comments/" + bookId)
                    console.log('Success:', data);
                }
                else if(data.status === 401){
                    location.replace("http://localhost:8080/auth/view/login")
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            })
    }
</script>