<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>{{ .title}}</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<div class="bg-img">
  <div class="content">
    <header>Register Form</header>
    <form method="dialog">
      <div class="field">
        <span class="fa fa-user"></span>
        <input type="text"  minlength="1" id="name" required placeholder="Name">
      </div>
      <div class="field space">
        <span class="fa fa-user"></span>
        <input type="email" id="email" required placeholder="Email">
      </div>
      <div class="field space">
        <span class="fa fa-lock"></span>
        <input type="password" id="password" class="pass-key" required placeholder="Password" minlength="8" maxlength="16">
        <span class="show">SHOW</span>
      </div>
      <div class="pass">
      </div>
      <div class="field">
        <input type="submit" value="SIGN UP"  onclick="sendData()">
      </div>
    </form>
    <div class="login">Or sign up with</div>
    <div class="links">
      <div class="google">
        <a href="/auth/google_login" style="text-decoration:none"><i class="fab fa-facebook-f"><span style="color: #ffffff;">Google</span></i></a>
      </div>
    </div>
    <div class="signup">Have account?
      <a href="/auth/view/login">Signin Now</a>
    </div>
  </div>
</div>

<script>
  const pass_field = document.querySelector('.pass-key');
  const showBtn = document.querySelector('.show');
  showBtn.addEventListener('click', function(){
    if(pass_field.type === "password"){
      pass_field.type = "text";
      showBtn.textContent = "HIDE";
      showBtn.style.color = "#3498db";
    }else{
      pass_field.type = "password";
      showBtn.textContent = "SHOW";
      showBtn.style.color = "#222";
    }
  });

  function sendData() {
    const name = document.getElementById('name').value;
    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;
    if(password.length > 7 && name.length > 0) {
      const data = {name: name, email: email, password: password, role: "USER"};
      fetch('http://localhost:8080/auth/register', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
              .then(data => {
                if (data.status === 200) {
                  location.replace("http://localhost:8080/api/books");
                  console.log('Success:', data);
                }
              })
    }
  }
</script>


</body>
</html>
